---
interface Props {
	title: string;
	unitTypeList: string[];
}

const { title, unitTypeList }: Props = Astro.props;
---

<nav>
	<a href="/">Home</a>
	{
		unitTypeList.map((unitType) => (
			<a href={`/${unitType.toLowerCase()}`}>{unitType}</a>
		))
	}
</nav>

<style>
	nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 10px;
		margin-bottom: 20px;
		background-color: deepskyblue;
		align-items: center;
		padding: 0.5rem 0;
	}

	a {
		text-decoration: none;
		color: #222831;
		padding: 10px;
		border-radius: 5px;
		background-color: #f2a365;
	}

	a:hover {
		background-color: #f28b82;
	}
</style>
