---
import Header from "@components/Header.astro";
import unitData from "@data/unitData.ts";
import theme from "@styles/themeColors.ts";

const { primary, secondary, background, info } = theme;
const unitTypeList = Object.keys(unitData);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Unit Converter</title>
	</head>
	<body>
		<Header title="Unit Converter" unitTypeList={unitTypeList} />
		<div class="container">
			<slot />
		</div>
	</body>
</html>

<style is:global define:vars={{ primary, secondary, background, info }}>
	html,
	body {
		margin: 0px;
		padding: 0px;
		width: 100%;
		height: 100%;
	}
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.card {
		width: 400px;
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		background-color: var(--background);
	}

	.card-body {
		display: flex;
		flex-direction: column;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		gap: 5px;
		margin-bottom: 1rem;
	}

	.form-control {
		width: -webkit-fill-available;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	.form-group p {
		margin: 0;
		color: var(--info);
		font-size: 1.2rem;
		font-weight: bold;
	}

	.form-control:focus {
		outline: none;
		border-color: var(--info);
	}

	@media (max-width: 480px) {
		.card {
			width: 100%;
		}
	}
</style>
